<p style="color: green"><%= notice %></p>

<%= render @normanpd %>

<div>
  <%= link_to "Edit this normanpd", edit_normanpd_path(@normanpd) %> |
  <%= link_to "Back to normanpds", normanpds_path %>
</div>
