<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">Access control, simplified.</h1>
          <p class="lead text-white-50 mb-4">When seconds count, we take out the hassle of premises access and keyholder contact.</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
            <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2 class="h4 fw-bolder"><i class="bi bi-zoom-in"></i> Scalable</h2>
        <p>Our software naturally grows with your agency and database size, without you having to make any changes.</p>
        <a class="text-decoration-none" href="#!">
          Call to action
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2 class="h4 fw-bolder"><i class="bi bi-fingerprint"></i> Secure</h2>
        <p>Our software is compliant with FBI CJIS and FIPS 140-2 standards, so citizens and agency admin can rest assured their data is secure.</p>
        <a class="text-decoration-none" href="#!">
          Call to action
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
      <div class="col-lg-4">
        <h2 class="h4 fw-bolder"><i class="bi bi-lightning-charge-fill"></i> Fast</h2>
        <p>Our servers are optimized for fast & responsive record locating and management. Say goodbye to contacting key holders, and hello to instant access!</p>
        <a class="text-decoration-none" href="#!">
          Call to action
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>